<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

  {% extends 'base.html' %}

{% block content %}
    <div style="display: flex; justify-content: center; align-items: center; height: 100vh; background-color: #f0faff;">
        <div style="text-align: center;">
            <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin-bottom: 50px;">
                <a href="{% url 'search' %}" style="text-decoration: underline; font-size: 34px; color: #0077cc; background-color: #fff; padding: 10px;">SEARCH</a>
            </h2>
            <div style="margin: 30px 0;"></div>
            <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin-bottom: 50px;">
                <a href="{% url 'history' %}" style="text-decoration: underline; font-size: 34px; color: #0077cc; background-color: #fff; padding: 10px;">HISTORY</a>
            </h2>
            <div style="margin: 30px 0;"></div>
            <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin-bottom: 50px;">
                <a href="{% url 'payment_account' %}" style="text-decoration: underline; font-size: 34px; color: #0077cc; background-color: #fff; padding: 10px;">PAYMENT-ACCOUNT</a>
            </h2>
        </div>
    </div>
{% endblock %}


</body>
</html>